:root {
    --Blue800: hsl(234, 29%, 20%);
    --Blue700: hsl(235, 18%, 26%);
    --Grey: hsl(0, 0%, 58%);
    --White: hsl(0, 0%, 100%);
  }
  
  /* FONTS */
  @font-face {
    font-family: "myFont";
    src: url("/src/assets/fonts/Roboto-Regular.ttf");
  }
  @font-face {
    font-family: "myFontBold";
    src: url("/src/assets/fonts/Roboto-Bold.ttf");
  }
  
  /* GLOBAL */
  body {
    background-color: rgb(7, 7, 32);
    color: var(--Blue800);
    font-family: "myFont", sans-serif;
    margin: 0;
    padding: 0;
  }
  .header{
    font-size: 50px;
    font-family: 'myFontBold';
  }
  .main {
    border-radius: 1rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 2rem auto;
    padding: 2rem;
    width: min(90%, 1100px); /* fully responsive */
  }
  
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 2rem 0 2rem 0;
    gap: .5rem;
  }
  li {
    display: flex;
    gap: 0.5rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .subscribe-button,
  .dismiss-button {
    background: var(--Blue800);
    color: var(--White);
    padding: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
  }
  
  .subscribe-button:hover,
  .dismiss-button:hover {
    background: linear-gradient(90deg, red, orangered);
    opacity: 0.8;
  }
  
  /* SUCCESS PAGE */
  .success-page-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 3rem;
    margin: 5% auto;
    border-radius: 1rem;
    width: min(90%, 600px);
  }
  
  .success-page-container img {
    width: 5rem;
  }
  .success-page-container h1 {
    font-family: 'myFontBold';
    font-size: 3rem;
  }
  .success-page-container p {
    width: 90%;
    margin-top: -1rem;
  }
  .success-page-container span {
    font-family: 'myFontBold';
  }
  
  /* MOBILE RESPONSIVE */
  @media (max-width: 700px) {
  
    .main {
      flex-direction: column-reverse;
      padding: 1rem;
      margin: 1rem;
    }
  
    .right-component-image {
      width: 100%;
    }
  
    .header {
      margin-left: 1rem;
      font-size: 40px;
    }
  
    .content-ptag {
      margin-left: 1rem;
      font-size: 14px;
    }
  
    ul {
      margin-left: 1rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      font-size: 14px;
    }
    form{
        margin-left: 1rem;
    }
    .success-page-container {
      padding: 2rem;
    }
  
    .success-page-container h1 {
      font-size: 2rem;
    }
  }